.about {
    display: none;
    flex-direction: column;
    height: 100%;
    padding: 10vh 0 0 0;
    background-color: #0a2f52;
    opacity: 0.1;
}

.about .aabout {
    padding: 2.5vh 10vw 0 10vw;
    font-size: calc(10px + (19 - 10) * ((100vw - 300px) / (1600 - 300)));
    color: rgba(255, 255, 255, 0.65);
}

@media only screen and (max-width: 600px) {
    .about .aabout {
        margin: 0 0 -5vh 0;
    }
}

.about .rpics {
    display: flex;
    flex-direction: row;
    background-color: #0a2f52;
    height: 20vh;
    margin: 10vh 0 0 0;
}

@media only screen and (max-width: 600px) {
    .about .rpics {
        display: flex;
        flex-direction: column;
        background-color: #0a2f52;
        justify-content: center;
        align-content: center;
        text-align: center;
        overflow: hidden;
        height: 30vh;
        margin: 5vh 0 0 0;
    }
}

.about .rpics .rpicscol .rpics1 {
    object-fit: contain; 
    width: calc(70px + (100 - 70) * ((100vw - 300px) / (1600 - 300))); 
    height: calc(70px + (100 - 70) * ((100vw - 300px) / (1600 - 300))); 
    margin: calc(15px + (17.5 - 15) * ((100vw - 300px) / (1600 - 300))) 0 0 19vw;
}

.about .rpics .rpicscol .rpics2 {
    object-fit: contain; 
    width: 60%; 
    height: 60%; 
    margin: calc(20px + (30 - 20) * ((100vw - 300px) / (1600 - 300))) 0 0 5vw;
}

.about .rpics .rpicscol .rpics3 {
    object-fit: contain; 
    width: 70%; 
    height: 70%; 
    margin: calc(10px + (22.5 - 10) * ((100vw - 300px) / (1600 - 300))) 0 0 0;
}

.about .rpics .rpicscol {
    width: 33.33%;
}

@media only screen and (max-width: 600px) {
    .about .rpics .rpicscol {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .about .rpics .rpicscol .rpics1 {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .about .rpics .rpicscol .rpics2 {
        object-fit: contain; 
        width: 50vw;
        height: 50vw;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -5vw;
        padding-top: 15vh;
    }
}

@media only screen and (max-width: 600px) {
    .about .rpics .rpicscol .rpics3 {
        object-fit: contain; 
        width: 50vw;
        height: 50vw;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15vh;
    }
}