.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    background-color: #333;
    color: #fdfdf8;
}

.footer .ficons {
    padding: 7.5vh 0 0 0;
}


.footer .ficons .ficon {
    display: block;
    float: right;
    padding: 5px 5px;
    width: 40px;
    height: 40px;
}

.footer .ficons .ficon:hover {
    opacity: 0.5;
}