.main {
    display: flex;
    flex-direction: row;
    padding-top: 15vh;
    height: 100vh;
    width: 100vw;
    background-color:#0a2f52;
    color: #fdfdf8;
    position: fixed;
}

@media only screen and (max-width: 600px) {
    .main {
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        height: 100vh;
        width: 100vw;
        background-color:#0a2f52;
        color: #fdfdf8;
        justify-content: center;
        padding-top: 20vh;
    }
}

.main .portrait {
    float: left;
    object-fit: cover;
    border-radius: 75%;
    max-width: 250px;
    max-height: 250px;
    width: calc(100px + (250 - 100) * ((100vw - 300px) / (1600 - 300)));
    height: calc(100px + (250 - 100) * ((100vw - 300px) / (1600 - 300)));
    margin: 12.5vh 7.5vw 0 25vw;
}

@media only screen and (max-width: 600px) {
    .main .portrait {
        display: flex;
        object-fit: cover;
        border-radius: 75%;
        max-width: 225px;
        max-height: 225px;
        width: 40vw;
        height: 40vw;
        margin: auto;
    }
}

.main .mabout {
    float: right;
    margin-top: calc(75px + (140 - 75) * ((100vw - 300px) / (1600 - 300)));
    font-size: calc(15px + (27.5 - 15) * ((100vw - 300px) / (1600 - 300)));
    justify-content: center;
    color: rgba(255, 255, 255, 0.65);
}

@media only screen and (max-width: 600px) {
    .main .mabout {
        float: right;
        padding: 5vh 15vw 25vh 15vw;
        font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
        justify-content: center;
        margin: auto;
        color: rgba(255, 255, 255, 0.65);
    }
}