.projects .row .pmodal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    opacity: 0;
}

/* Modal Content/Box */
.projects .row .pmodal .pmodalc {
    display: flex;
    flex-direction: column;
    background-color: #fdfdf8;
    margin: 7.5% auto; /* 5% from the top and centered */
    padding: 5vh 4vw 2.5vh 4vw;
    height: 70vh;
    width: 80%; /* Could be more or less, depending on screen size */
}

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc {
        margin: 25% auto; /* 5% from the top and centered */
        padding: 5vh 4vw 2.5vh 4vw;
    }
}

/* The Close Button */
.projects .row .pmodal .pmodalc .pmodalhead .close {
    float: right;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc .pmodalhead {
        font-size: calc(12.5px + (17.5 - 12.5) * ((100vw - 300px) / (1600 - 300)));
    }
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.projects .row .pmodal .pmodalc .pmodalcol .pmodalimg {
    float: left;
    width: 35vw;
}

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc .pmodalcol .pmodalimg {
        width: 30vw;
    }
}

.projects .row .pmodal .pmodalc .pmodalcol .pmodalimg .pmodalbodyimg {
    width: 35vw;
    height: 50vh;
    object-fit: cover;
    padding-top: 2.5vh;
}

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc .pmodalcol .pmodalimg .pmodalbodyimg {
        width: 30vw;
        height: 40vh;
    }
}

.projects .row .pmodal .pmodalc .pmodalcol .pmodaltext {
    width: 30vw;
    height: 50vh;
    float: right;
    margin: 2.5vh 0 0 0;
}

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc .pmodalcol .pmodaltext {
        width: 35vw;
        font-size: 5vw;
    }
}

.projects .row .pmodal .pmodalc .pmodalcol .pmodaltext p {
        width: 35vw;
        font-size: 1vw;
        padding: 0 5vw 0 0;
    }

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc .pmodalcol .pmodaltext p {
        width: 35vw;
        font-size: 2.5vw;
    }
}

.projects .row .pmodal .pmodalc .pmodalcol .pmodaltext .icon {
    padding: 1vh 0 0 0;
    width: 2.5vw;
    height: 2.5vw;
}

@media only screen and (max-width: 600px) {
    .projects .row .pmodal .pmodalc .pmodalcol .pmodaltext .icon {
        width: 7.5vw;
        height: 7.5vw;
    }
}