.research {
    display: none;
    flex-direction: column;
    height: 100vh;
    padding: 10vh 0 0 0;
    background-color: #0a2f52;
    opacity: 0.1;
}

.research .row {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.research .row .card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    width: 25vw;
    height: 32.5vh;
    margin: 2.5vh 1.5vw 3.5vh 1.5vw;
    background-color: #fdfdf8;
}

.research .row .card:hover {
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

.research .row .card .cimage {
    width: auto;
    height: 20vh;
}

.research .row .card .cimage .cpic {
    width: 25vw;
    height: 20vh;
    object-fit: cover;
}

.research .row .card .ctext {
    width: auto;
    height: 10vh;
    font-size: 15px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    padding: 1vh 1vw 0 1vw;
}

