.resume {
    display: none;
    height: 100%;
    padding: 10vh 0 0 0;
    background-color: #0a2f52;
}

.resume .rrow {
    display: flex;
}

.resume a {
    color: rgba(255, 255, 255, 0.904);
    text-decoration: none;
}

.resume .rrow .rcol {
    width: 50%;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.resume .rsection {
    margin: 10px 10px 0 10px;
    padding: 0 0 1vh 5vw;
}

.resume .rhead {
    color: rgba(255, 255, 255, 0.904);
    font-size: 1.475vw;
    
}

.resume .rsection ul {
    list-style-type: disc;
    margin: 0 0 0 3vw;
}

.resume .rrow .rcol .rsection .rsub {
    color: rgba(255, 255, 255, 0.904);
    font-size: 1.1vw;
    margin: 10px 10px 10px 0;
}

.resume .rrow .rcol .rsection .rsub2 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 1.1vw;
    margin: 0 0 0 5vh;
}

.resume .rrow .rcol .rsection .rsub3 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 1.1vw;
    margin: 10px 10px 5px 0;
}

.resume .rrow .rcol .rsection .rsub4 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 1.1vw;
    margin: 0 0 10px 5vh;
}

.resume .rrow .rpics {
    display: flex;
    flex-direction: row;
    background-color: #0a2f52;
    height: 20vh;
}

.resume .rrow .rpics .rpicscol {
    width: 33.33%;
}