* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*HEADER NAVBAR CSS*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7.5%;
    padding: 10px;
    display: block;
    background-color: #333;
    z-index: 99; /*Allows position: relative to go under header*/
}

h1.navbar {
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 10px 0px 0px 35px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    color: #0059b3;
}


.main {
    display: flex;
    padding-top: 100px;
}

.main .portrait {
    float: left;
    object-fit: cover;
    border-radius: 75%;
    width: 250px;
    height: 250px;
    margin: 125px 100px 0 300px;
    align-self: flex-start;
}

.main .about {
    float: right;
    width: 50%;
    margin: 125px 200px 0 0;
    box-sizing: border-box;
    justify-content: center;
    flex: 1 1 auto;
}

.icons {
    padding: 2vh 36.5vw 0 0;
}

.icons .icon {
    display: block;
    float: right;
    padding: 5px 5px;
    width: 40px;
    height: 40px;
}

.icons .icon:hover {
    opacity: 0.7;
}

.rtitle {
    display: flex;
    height: 10vh;
    margin-top: 30vh;
    background-color: #0a2f52;
    color: rgba(255, 255, 255, 0.904);
}

.rtitle .rtitleword {
    float: left;
    padding: 10vh 0 0 5vw;
}

.rtitle .rpdf {
    padding: 8vh 0 0 75vw;
}

.rtitle .rpdf .icon {
    padding: 5px 5px;
    width: 50px;
    height: 50px;
}

.resume {
    display: flex;
    height: 80vh;
    padding: 10vh 0 0 0;
    background-color: #0a2f52;
}

.resume a {
    color: rgba(255, 255, 255, 0.904);
    text-decoration: none;
}

.resume .rtitle {
    display: flex;
    width: 100vw;
    height: 20vh;
}

.resume .rcol {
    width: 50%;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.resume .rsection {
    margin: 10px 10px 0 10px;
    padding: 0 0 1vh 5vw;
}

.resume .rhead {
    color: rgba(255, 255, 255, 0.904);
    font-size: 20px;
}

.resume .rsection ul {
    list-style-type: disc;
    margin: 0 0 0 3vw;
}

.resume .rcol .rsection .rsub {
    color: rgba(255, 255, 255, 0.904);
    font-size: 15px;
    margin: 10px 10px 10px 0;
}

.resume .rcol .rsection .rsub2 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 15px;
    margin: 0 0 0 5vh;
}

.resume .rcol .rsection .rsub3 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 15px;
    margin: 10px 10px 5px 0;
}

.resume .rcol .rsection .rsub4 {
    color: rgba(255, 255, 255, 0.904);
    font-size: 15px;
    margin: 0 0 10px 5vh;
}

.rpics {
    display: flex;
    background-color: #0a2f52;
    height: 30vh;
}

.rpics .rpicscol {
    width: 33.33%;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.retitle {
    display: flex;
    height: 10vh;
    color: black;
    padding: 7.5vh 0 7.5vh 5vw;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.research {
    display: flex;
    flex-direction: column;
    min-height: 115vh;
    background-color: #fdfdf8;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.research .row {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    /*border-width: 1px;*/
    /*border-style: solid;*/
}

.research .row .card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 22.5vw;
    height: 45vh;
    margin: 5vh 3vw 3.5vh 3vw;
}

.research .row .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.research .row .card .cimage {
    width: auto;
    height: 30vh;
}

.research .row .card .cimage .cpic {
    width: 22.5vw;
    height: 30vh;
    object-fit: cover;
}

.research .row .card .ctext {
    width: auto;
    height: 15vh;
    font-size: 15px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    padding: 1vh 1vw 0 1vw;
}

.ptitle {
    display: flex;
    height: 10vh;
    background-color: #0a2f52;
    color: rgba(255, 255, 255, 0.904);
}

.ptitle .pword {
    display: flex;
    height: 10vh;
    color: #fdfdf8;
    padding: 7.5vh 0 7.5vh 5vw;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
    background-color: #0a2f52;
    padding: 5vh 0 0 0;
}

.projects .row .card {
    display: flex;

    justify-content: center;
    float: left;
}

.projects .row .card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 85vw;
    height: 27.5vh;
    margin: 5vh 3vw 3.5vh 3vw;
    background-color: #fdfdf8;
}

.projects .row .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.projects .row .card .cimage {
    width: auto;
    height: 15vh;
}

.projects .row .card .cimage .cpic {
    width: 85vw;
    height: 15vh;
    object-fit: cover;
}

.projects .row .card .ctext {
    width: auto;
    height: 15vh;
    font-size: 15px;
    /*border-width: 1px;*/
    /*border-style: solid;*/
    padding: 1vh 1vw 0 1vw;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 25vh;
    background-color: #333;
    color: #fdfdf8;
}

.footer .icons {
    padding: 7.5vh 0 0 0;
}


.footer .icons .icon {
    display: block;
    float: right;
    padding: 5px 5px;
    width: 40px;
    height: 40px;
}

.footer .icons .icon:hover {
    opacity: 0.5;
}


/*background-color: #181818*/