@import "../fonts.css";

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    min-width: 275px;
    width: 25vw;
    height: 32.5vh;
    margin: 2.5vh 2vw 2.5vh 2vw;
    background-color: black;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}

.card .image {
    width: auto;
    height: 20vh;
    min-width: 275px;
}

.card .image .pic {
    width: 25vw;
    min-width: 275px;
    height: 32.5vh;
    object-fit: cover;
    opacity: 0.7;
}

.card .text {
    font-family: 'proxima-nova', 'ProximaNova', sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    position: absolute; 
    width: 100%;
    bottom: 1vh;
    color: white;
    padding: 1vh 1vw 0 0;
}

.card .text .inText {
    padding-left: 1vw;
}

.card .text .inText2 {
    font-size: 1.2em; 
    font-weight: 800;
}

.card .text .cardlinks {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.card .text .cardlinks .icon {
    display: block;
    width: 4vh;
    height: 4vh;
    padding: 5px 5px 0 5px;
    opacity: 0.9;
    z-index: 1;
}

@media only screen and (max-width: 480px) {
    .card .text {
        font-size: 1.15em;
    }

    .card .text .inText {
        padding-left: 2vw;
    }
}

@media only screen and (max-width: 320px) {
    .card .text {
        font-size: 1em;
    }
}
