.header {
    top: 0;
    height: 10%;
    padding: 0.75vh;
    display: block;
    z-index: 99;
    transition: background-color 0.3s ease;
}

nav {
    display: block;
    padding-top: 2vh;
    animation: nav 0.2s ease-in-out forwards;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 5vw;
}

nav li {
    float: right;
    font-size: 1.15em;
    font-weight: 600;
    cursor: pointer;
    display: block;  
    text-align: center;
    text-decoration: none;
    padding: 20px 1.5vw 1.5vw 10px;
    transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    opacity: 0.9;
    font-family: 'Noto Sans KR', sans-serif;
}

nav ul li:hover {
    opacity: 1;
}

nav a {
    color: white;
}

nav a:visited {
    color: white;
}

nav a.active {
    color: rgb(255, 200, 85);
    pointer-events: none;
    cursor: not-allowed;
}


@media only screen and (max-width: 720px) {  
    nav {
        padding-right: 0;
    }

    nav ul {
        padding-right: 2.5vw;
    }
    
    nav li {
        font-size: 1em;
        padding: 10px 1.5vw 1.5vw 10px;
    }
}

@media only screen and (max-width: 480px) {  
    .header {
        text-align: center;
    }
    
    nav {
        display: inline-block;
    }
    
    nav ul {
        padding-right: 0;
    }
    
    nav li {
        padding: 10px 1.5vw 1.5vw 10px;
    }
}

@media only screen and (max-width: 320px) {  
    nav li {
        font-size: 0.75em;
        padding: 10px 1.5vw 1.5vw 10px;
    }
}