.fade-appear, .fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active, .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 150ms linear 150ms;
}

.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {
    opacity: 0;
}



.slide-enter {
    transform: translateX(-100vw);
    opacity: 0;
    position: absolute;
}
.slide-enter.slide-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: all 300ms linear 300ms;
}

.slide-exit {
    transform: translateX(0);
    opacity: 1;   
}
.slide-exit.slide-exit-active {
    transform: translateX(100vw);
    opacity: 0;
    transition: all 300ms linear
}